    <!DOCTYPE html>
    <html>
        <head>
            <title>
                {% block title %}
                    Good Job - Le partenaire des geeks
                {% endblock %}
            </title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
            <link rel="shortcut icon" href="{{ asset('bundles/ensgoodjob/images/favicon.ico') }}" />


<!-- Elément Google Maps indiquant que la carte doit être affiché en plein écran et
        qu'elle ne peut pas être redimensionnée par l'utilisateur -->
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('bundles/ensgoodjob/css/main.css') }}" type="text/css" media="all" />
                <link rel="stylesheet" href="{{ asset('bundles/enuser/css/mainUser.css') }}" type="text/css" media="all" />
            {% endblock %}



            {% block javascripts %}
                <!-- Champs recherche Page accueil  -->
                <script langage="text/javascript">
                    function clearf(){
                        document.getElementById('srchval').value="";
                    }
                </script>


                <!-- Inclusion de l'API Google MAPS -->
                <!-- Le paramètre "sensor" indique si cette application utilise détecteur pour déterminer la position de l'utilisateur -->
                <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                <script type="text/javascript" src="{{ asset('bundles/ensgoodjob/js/Gmap.js') }}"> </script>

            {% endblock %}
        </head>
        <body onload="initialiser()">
            <div id="container">
                <div class="top-header">
                    <ul id="menu_horizontal">
                        <li class="li-menuHeader">
                            <a href="{{ path('EnsGoodJobBundle_homepage') }}">
                                <img src="{{ asset('bundles/ensgoodjob/images/logo.jpg') }}" alt="Good Job - Le partenaire des geeks" class="imgLogo" />
                            </a>
                        </li>
                        <li class="li-menuHeader">
                            <a href="{{ path('ens_job_new') }}" class="menu-header">
                                
                                    Déposer une offre
                              
                            </a>
                        </li>
                        <li class="li-menuHeader">
                            <a href="{{ path('EnsGoodJobBundle_homepage') }}" class="menu-header">
                                
                                     Rechercher une offre
                              
                            </a>
                        </li>
                        <li class="li-menuHeader">
                            <a href="{{ path('EnsGoodJobBundle_homepage') }}" class="menu-header">
                                
                                    Créer sont CV
                              
                            </a>
                        </li>
                        <li class="li-menuHeader">
                            <a href="{{ path('EnsCvBundle_accueil') }}" class="menu-header">
                                
                                     Rechercher un Candidat
                               
                            </a>
                        </li>
                    </ul>
                </div>




                <div id="header">
                    <div class="content">
                       <div id="carte" style="width:100%; height:400px;"></div>
                        <div class="connectHeader">
                            <ul id="menu_horizontal2">
                                <li>
                                    <div class="search">
                                        <form action="" method="get">
                                            <input type="text" name="keywords" id="search_keywords" id="srchval" onclick="clearf()" placeholder="ville, pays, poste, ..."/>
                                            <input type="submit" value="rechercher" classe="submitR" />
                                        </form>
                                    </div>
                                </li>
                                <li class="li-connectHead">
                                            offres d'emploi pour les geeks
                                </li>
                                <li class="li-connectHead">
                                    <a href="{{ path('login') }}" class="">
                                        
                                           Connexion
                                       
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                       <!--  <div id="sub_header">

                            <div class="search">
                                <form action="" method="get">
                                    <input type="text" name="keywords" id="search_keywords" id="srchval" onclick="clearf()" value=" Ecrivez quelques mots clés (ville, pays, poste, ...)"/>
                                    <input type="submit" value="rechercher" classe="submitR" />
                                </form>
                            </div>
                        </div> -->
                    </div>
                </div>


                <div id="content">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash_notice">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="flash_error">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    <div class="content">
                        {% block content %}
                        
                        {% endblock %}
                    </div>
                    <script type="text/javascript">
                      
                    </script>
                </div>


                <div id="footer">
                    <div class="content">

                        <ul>
                            <li><a href="">Mention legales </a></li>
                            <li class=""><a href="">Mention legales</a></li>
                            <li><a href="">Mention legales</a></li>
                            <li class=""><a href="">Mention legales</a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </body>


               
        
    </html>