    <!DOCTYPE html>
    <html>
        <head>
            <title>
                {% block title %}
                    Good Job - Le partenaire des geeks
                {% endblock %}
            </title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link rel="shortcut icon" href="{{ asset('bundles/ensgoodjob/images/favicon.ico') }}" />
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('bundles/ensgoodjob/css/main.css') }}" type="text/css" media="all" />
            {% endblock %}
            {% block javascripts %}
                <script langage="text/javascript">
                    function clearf(){
                        document.getElementById('srchval').value="";
                    }
                </script>
                <script type="text/javascript" src="{{ asset('bundles/ensgoodjob/js/jquery-1.4.2.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/ensgoodjob/js/coin-slider.min.js') }}"></script>
            {% endblock %}
        </head>
        <body>
            <div id="container">
                <div id="top-header">
                    <ul>
                        <li class="li-menuHeader">
                                <a href="{{ path('EnsGoodJobBundle_homepage') }}">
                                    <img src="{{ asset('bundles/ensgoodjob/images/logo.jpg') }}" alt="Good Job - Le partenaire des geeks"  />
                                </a>
                        </li>
                        <li class="li-menuHeader ">
                            <a href="{{ path('ens_job_new') }}" class="menu-header">
                                <p>
                                    Déposer une offre
                                </p>
                            </a>
                        </li>
                        <li class="li-menuHeader ">
                            <a href="{{ path('EnsGoodJobBundle_homepage') }}" class="menu-header">
                                <p>
                                     Rechercher une offre
                                </p>
                            </a>
                        </li>
                        <li class="li-menuHeader ">
                            <a href="{{ path('EnsGoodJobBundle_homepage') }}" class="menu-header">
                                <p>
                                     Rechercher un candidat
                                </p>
                            </a>
                        </li>
                    <ul>
                </div>


                <div id="header">
                    <div class="content">

                        <div class="contentSlide">
                            <div id='coin-slider'>
                                <a href="{{ path('EnsGoodJobBundle_homepage') }}" target="_blank">
                                    <img src='{{ asset('bundles/ensgoodjob/images/job.jpg') }}' >
                                    <span>
                                        Description for img01
                                    </span>
                                </a>
                                <a href="{{ path('EnsGoodJobBundle_homepage') }}">
                                    <img src='{{ asset('bundles/ensgoodjob/images/job2.jpg') }}' >
                                    <span>
                                        Description for imgN
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div id="sub_header">

                            <div class="search">
                                <form action="" method="get">
                                    <input type="text" name="keywords" id="search_keywords" id="srchval" onclick="clearf()" value=" Ecrivez quelques mots clés (ville, pays, poste, ...)"/>
                                    <input type="submit" value="rechercher" classe="submitR" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="content">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash_notice">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="flash_error">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    <div class="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('#coin-slider').coinslider({ width:783, navigation: false, delay: 5000 });
                        });
                    </script>
                </div>


                <div id="footer">
                    <div class="content">
                        <ul>
                            <li><a href="">Mention legales </a></li>
                            <li class=""><a href="">Mention legales</a></li>
                            <li><a href="">Mention legales</a></li>
                            <li class=""><a href="">Mention legales</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </body>
    </html>